html{
		height: 100%;
		margin: 0 auto;
		padding: 0;
		display: table;
	}

body{
		background-color: silver;
		background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
						linear-gradient(155deg, #d00 23px, transparent 23px),
						linear-gradient(335deg, #b00 23px, transparent 23px),
						linear-gradient(155deg, #d00 23px, transparent 23px);
					background-size: 58px 58px;	
					background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
		text-align: center;
		font-size: 20px;
		color: #333;
 		color: rgba(0,0,0,0.5);
		font-family: Arial,helvetica;
		display: table-cell;
		vertical-align: middle;
	}

		#btn{
			margin:  0 auto;
			width:  200px;
			padding: 5px;
			border-radius: 5px;
			background: #00aaff;
			box-shadow: 0 4px 0 #0088cc;
			cursor: pointer;
		}
		#btn:hover{
			opacity: 0.8;
		}

		#btn.pushed {
			margin-top: 32px;
			box-shadow: 0 2px 0 #0088cc;
		}

		#namen {
			width: 300px;
			height: 2em;
		}
		#mail {
			width: 300px;
			height: 2em;
		}
		#opinion {
			width: 400px;
			height: 12em;
		}
		#h1{
		font-weight: normal;
		font-size: 20px;
		margin:0;
		padding:0;
		color:#444;
		}
		.box {
    color: #fff;
    background: #3cb371;
    padding: 20px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
}
 
		.fourcorners{
    	-moz-border-radius: 2px;
    	-webkit-border-radius: 20px;
    	-khtml-border-radius: 20px; 
    	border-radius: 20px;
		}

		

		